<h3>
(coming soon)
</h3>

<div class="offset1 span3">
	<div class="thumbnail">
		<h3>The Lean Startup</h3>
		<p>Aardvark: lorem ipsum</p>
		<p>
			<a class="btn btn-default" role="button" href="#/studies/lean">View details »</a>
		</p>
	</div>
</div>
<div class="span3">
	<div class="thumbnail">
		<h3>The Big Corporation</h3>
		<p>eHow: lorem ipsum</p>
		<p>
			<a class="btn btn-default" role="button" href="#/studies/corp">View details »</a>
		</p>
	</div>
</div>
<div class="span3">
	<div class="thumbnail">
		<h3>Wall Street</h3>
		<p>Blackrock: lorem ipsum</p>
		<p>
			<a class="btn btn-default" role="button" href="#/studies/wallstreet">View details »</a>
		</p>
	</div>
</div>
